@media screen and (max-width: 358px) {
    body{
        font-size:12px;
    }
    #colonne{
        display: flex;
        flex-direction:column;
        
    }
    .etudiant{
        display:none;
    }
    .contacts{
        font-size:12px;

    }
    .title{
        font-size: 12px;
    }
    #col1{
        width: 300px;
    }
    #col2{
        width: 300px;
    }
    #col3{
        width: 300px;
    }
    .card-img-top:hover{
        transform: scale(0.4)
    }
}








